header {

    border-bottom: 1px ridge #c7c5c5;
}
nav {  


    height: 80px;
    width: 960px;
    margin: 0 auto;
    padding-top: 5px;
}

.nametitle {   

    margin: 0 auto;
    border-bottom-color: #c7c5c5;
    border-bottom-style: 1px ridge;
    padding-top:15px;
    display:inline-block;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-left: 25px;
    color: white;
    width: 200px;
    height: 60px;
    background-color: #4aaaa5;
    border-style: solid;
}

.nav-links {

    padding-top: 30px;
    margin: 0 auto;
    float: right;
    word-spacing: 35px;    
}
a {
    
    text-decoration: none;
    color: #9b9797
}
.main-background {

    margin: 0 auto;
    padding-top: 5px;
    height:685px;
    background-color: #cccccc;
}

.about-me {

    margin-top: 40px;
    margin-left: 170px;
    border-top: 40px;
    background-color: white;
    height:480px;
    width: 960px;
    border-color: #dddddd;
}

h2 {

    padding-left: 25px;
    padding-top: 25px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-bottom: 15px;
    display: inline-block;
}

.under-line {

    margin: 0 auto;
    border-bottom: 2px solid #c7c5c5;
    width: 915px;

}

img {

    float: left;
    padding-top: 40px;
    padding-left: 25px;
}

p {

    padding-left: 220px;
    padding-top: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    line-height: 1.5;

}

.footerborder {
    background-color: #4aaaa5;
    height: 10px;
}
.footer {

    background-color: #666666;
    height:75px;
}

.copyright {

    margin: 0 auto;
    font-size: 10px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-left: 605px;
    padding-top: 55px;
}

.contact-me {

    margin-top: 40px;
    margin-left: 170px;
    border-top: 40px;
    background-color: white;
    height:480px;
    width: 960px;
    border-color: #dddddd;
}


